<div class="header">
  <h1>Companies Info</h1>
</div>
<div class="loader" ng-show="load"></div>
<div on-outer-click ng-click="onclick()">
	<form>
	  <div class="multiselect">
	    <div class="selectBox" ng-click="showCheckboxes($event)">
	      <select>
	        <option>Customize Columns</option>
	      </select>
	      <div class="overSelect"></div>
	    </div>
	    <div id="checkboxes">
	    	<label for = "{{$index}}" ng-repeat="col in columnNames track by $index">
	    		<input type="checkbox" id="{{$index}}" ng-model="col.check" ng-change="addOrRemoveCol(col)" />{{col.name}}</label>
	    </div>
	  </div>
	</form>
	<div>
		<div class="leftArrow" ng-click="scrollLeft($event)"><i class="fa fa-arrow-circle-left custom" ></i></div>
		<div class="rightArrow" ng-click="scrollRight($event)"><i class="fa fa-arrow-circle-right custom" ></i></div>
	</div>
    <div class= "search-table-outter" id="searchTable">
	    <table id = "mainTable">
		    	<thead>
		    	<tr id="heading">
		    		<th>Company</th>
		    		<th> Location</th>
		    		<th> Market</th>
		    		<th> Website</th>
		    		<th> Employees</th>
		    		<th> Stage</th>
		    	</tr>
		    	</thead>
		    <tbody id="tableBody">
		    	<tr ng-repeat="list in companyList track by $index" ng-if="$index < myLimit">
		    		<td>
		    			{{list.name}}
		    			<span>
		    				{{list.description}}
		    			</span>
		    		</td>
		    		<td>
		    			{{list.location}}
		    		</td>
		    		<td>
		    			{{list.market.join(',')}}
		    		</td>
		    		<td>
		    			<a>{{list.website}}</a>
		    		</td>
		    		<td>
		    			{{list.employees}}
		    		</td>
		    		<td>
		    			{{list.stage}}
		    		</td>
		    	</tr>
		    	</tbody>
		    	<!-- <tr>{{list.location}}</tr> -->
		    
	    </table>
	</div> 
</div>
<div class = "error">{{error}}</div>
<div class="footer" ng-if="!load && (myLimit <  companyList.length)" ng-click="loadMore()">
	 Load More 
</div>