<div>
	<div class="backPopUp" ng-if = "openConfirmationBox"></div>
	<div class="successfulSubmission" ng-if="successfulSubmission">Work Done Successfully</div>
	<div class="mockUp" ng-if="!successfulSubmission">
		<div class="crossIconDialog" ng-click="cancelDialogBox()" >X</div>
		<div class = "content">
			<div class="head">Select an Employee</div>
			<div>
				<input type="checkbox" name= "email" id="emailEmp" ng-checked = "true">
				<label>Send welcome email to employee</label>
			</div>
			<div class="team">
				<div class="teamHead">Select a team in the organisation</div>
				<input  class="input" type='text' placeholder="Select Team..."  ng-model = "employeeData.selectedTeam"  ng-click='showItemList("teamList")'/>
				<div class="dropDownArrow"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
				<div class="listDropdown" id="teamList">
					<ul>
						<li ng-repeat = "teams in data | sortByTeam : employeeData.selectedTeam  track by $index">
							<div class="items" ng-click = "employeeData.selectedTeam = teams.team; employeeData.selectedEmployee =''; showItemList('teamList')">
								{{teams.team}}
							</div>

						</li>
					</ul>
				</div>
				<div class="redError" ng-if="teamError">{{teamError}}</div>
			</div>
			<div class="team">
				<div class="teamHead">Select an Employee</div>
				<input  class="input" type='text' placeholder="Select Employee..." , ng-model = 'employeeData.selectedEmployee' ng-click = 'selectEmployee(); showItemList("employeeList")'/>
				<div class="dropDownArrow"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
				<div ng-if="listEmployees.length" class="listDropdown" id="employeeList">
					<ul>
						<li ng-repeat = "employee in listEmployees | sortByEmployees : employeeData.selectedEmployee  track by $index">
							<div class="items" ng-click = "employeeData.selectedEmployee = employee; showItemList('employeeList')">
								{{employee}}
							</div>

						</li>
					</ul>
				</div>
				<div class="redError" ng-if="validationError">{{validationError}}</div>
			</div>
			<div class="buttons">
				<button id="cancelButton" class="cancelButton" type="button" ng-click="cancelDialogBox()" ng-mouseover="changeBackgroundColor('cancelButton')" ng-mouseleave="retainBackgroundColor('cancelButton')">Cancel</button>
				<button id="okButton" class="okButton" type="button" ng-click="validateDialogBox('okButton')"  ng-mouseover="changeBackgroundColor('okButton')" ng-mouseleave="retainBackgroundColor('okButton')">Done</button>
			</div>
		</div>

	</div>

	<div class= "confirmationBox" ng-if="openConfirmationBox">
		<div class="crossIcon" ng-click="cancelConfirmBox()">X</div>
		<div class = "contentConfirmBox">
			<div class="msg">
				{{confirmationMsg}}
			</div>
			<div class="buttons">
				<button  id="cancelButtonConfirm" class="cancelButton" type="button" ng-click="cancelConfirmBox()" ng-mouseover="changeBackgroundColor('cancelButtonConfirm')" ng-mouseleave="retainBackgroundColor('cancelButtonConfirm')">Cancel</button>
				<button  id="okButtonConfirm" class="okButton" type="button" ng-click="doneConfirmBox()"  ng-mouseover="changeBackgroundColor('okButtonConfirm')" ng-mouseleave="retainBackgroundColor('okButtonConfirm')">Done</button>
			</div>
		</div>
	</div>
</div>
