* {
    box-sizing: border-box;
}
html {
    font-family: "Lucida Sans", sans-serif;
}


.mockUp{
    margin: auto;
    width: 35%;
    margin-top: 160px;
    background: #fafafa;
}

.content{
    overflow: hidden;
    padding: 25px;
    font-family: Ariel
}

.head{
    margin: 10px 0 10px 0;
    font-size: 24px;
    color: #00bef2;
}

input[type="checkbox"]{
    transform: scale(1.7);
    cursor: pointer;
    margin-left: 5px;
}

input[type="text"]{
    width: 100%;
    padding: 7px 15px;
    font-size: 14px;
    font-weight: 600;
    font-family: Ariel;
    background: #9e9e9e61;
}
input[type=text]:focus {
    background-color: white;
    outline: none !important;
    border:1px solid #00bef2;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #000;
}

::-webkit-input-placeholder:focus { /* WebKit, Blink, Edge */
    color: red;
}
.team{
    margin-top: 15px;
}

.teamHead{
    font-size: 15px;
    font-weight: 600;
    margin: 10px 0 10px 0;
}

label{
    font-size: 14px;
    font-weight: 600;
    line-height: 1.85;
    color: #222;
    margin: 0 0 0 5px;
}

.listDropdown {
    display: none;
    border: 1px #dadada solid;
    position: relative;
    width: 100%;
    z-index: 8;
    border: 1px #dadada solid;
    background: white;
}

.redError{
    color: red;
    font-family: Ariel;
}

.buttons{
    float: right;
    margin-top: 20px;
}
.cancelButton{
    width: 80px;
    margin-right: 15px;
    height: 35px;
    background: #9e9e9e61;
}

.okButton{
    width: 80px;
    height: 35px;
    background: #9e9e9e61;
}

.multiselect {
  float: left;
  width: 200px;
  margin: 0 10px 0 811px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

a{
  color: #03a9f4b3;
  cursor: pointer;
}



